.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 0.1875rem solid var(--color__border);
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all ease 0.24s;
    cursor: pointer;
    padding: 0rem 2.5rem;
    height: calc(3.5rem - 0.1875rem * 2);
    font-size: 1rem;
}

.btn:active {
    transform: scale(.95);
}

.btn.--fill-1 {
    background-color: var(--color__fill-1);
    color: var(--color__white);
}

.btn.--fill-1:hover {
    background-color: var(--color__fill-1-h);
    border: 0.1875rem solid var(--color__border-h);
}

.btn.--fill-1:active {
    background-color: var(--color__fill-1-a);
}

.btn.--fill-2 {
    background-color: var(--color__fill-2);
    color: var(--color__white);
}

.btn.--fill-2:hover {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--fill-2:active {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--fill-2:focus {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--border-1 {
    color: var(--color__fill-1);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-1);
}

.btn.--border-1:hover {
    background-color: var(--color__fill-1);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-1);
    color: var(--color__white);
}

.btn.--border-1:active {
    background-color: var(--color__fill-1-a);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-1-a);
}

.btn.--border-2 {
    color: var(--color__fill-2);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-2);
}

.btn.--border-2:hover {
    background-color: var(--color__fill-2);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-2);
    color: var(--color__white);
}

.btn.--border-2:active {
    background-color: var(--color__fill-2-a);
    box-shadow: inset 0rem 0rem 0rem 0.1875rem var(--color__fill-2-a);
}

.btn.--border-white {
    color: white;
    box-shadow: inset 0rem 0rem 0rem 0.1875rem white;
}

.btn.--border-white:hover {
    background-color: white;
    box-shadow: inset 0rem 0rem 0rem 0.1875rem white;
    color: var(--color__dark);
}

.btn.--border-white:active {
    background-color: white;
    box-shadow: inset 0rem 0rem 0rem 0.1875rem white;
}

.btn.--xxl {
    height: 5.5rem;
    padding: 0px 3rem;
    font-size: 1.25rem;
}

.btn.--xl {
    height: calc(6.25rem - 0.1875rem * 2);
    width: calc(23.125rem - 0.1875rem * 2);
    padding: 0px 0rem;
    font-size: 2.25rem;
}

.btn.--l {
    height: 4rem;
    padding: 0px 2.5rem;
}

.btn.--m {
    height: 4.0625rem;
    padding: 0px 1.5rem;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 0;
}

.btn.--s {
    height: 2.5rem;
    padding: 0px 1.25rem;
    font-size: .75rem;
}

.btn.--no-fill {
    background-color: transparent;
    color: var(--color__text-4);
    border: 1px solid var(--color__border-h);
}

.btn.--no-fill:hover {
    background-color: var(--color__white);
}

.btn.--no-fill:active {
    background-color: var(--color__text-4);
}

.btn.--no-fill:hover {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--no-fill:active {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--no-fill:focus {
    box-shadow: 0px 5px 10px #777777;
}

.btn.--fill-1.--xl,
.btn.--fill-1.--xxl,
.btn.--fill-1.--l {
    box-shadow: 0rem 0.25rem 0.25rem rgba(255, 255, 255, 0.25);
}

.btn.--fill-2.--xl {
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 990px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 640px) {
    .btn.--xl {
        height: 6rem;
        padding: 0px 0rem;
        font-size: 2rem;
    }
    .btn {
        text-align: center;
    }
}