body,
html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    color: var(--color__dark)
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style: none
}

h1 {
    color: var(--color__white);
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 6rem;
    line-height: 100%;
}

h3 {
    color: var(--color__text-1);
    font-size: 1.625rem;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-top: calc(1.9375rem - 1.5rem);
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.popup {
    display: none;
}

.center-wrap {
    max-width: 90rem;
    position: relative;
    margin: 0px auto;
    display: block;
    width: 100%;
}

.first-slide__wrap {
    width: 100%;
    background-image: url(img/dog_breath_photography.jpg);
    background-size: cover;
    background-position: center;
    height: 64rem;
}

.first-slide__box {
    width: calc(100% - 15rem);
    height: 12rem;
    margin-bottom: 6rem;
}

.first-slide__left-box {
    height: 12rem;
}

.first-slide__right-box {
    height: 11rem;
}

@media screen and (max-width: 1680px) {
    html,
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1440px) {
    html,
    body {
        font-size: 14px;
    }
    .first-slide__wrap {
        height: 100vh;
    }
}

@media screen and (max-width: 1359px) {}

@media screen and (max-width: 1199px) {
    html,
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {
    html,
    body {
        font-size: 10px;
    }
    main {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width:640px) {
    br {
        display: none;
    }
    .first-slide__box {
        flex-direction: row;
        height: auto;
    }
    .first-slide__left-box,
    .first-slide__right-box {
        height: auto;
    }
    .first-slide__right-box {
        margin-top: 5rem;
    }
    .first-slide__box {
        width: calc(100% - 10rem);
    }
}

@media screen and (max-width:340px) {
    .first-slide__box {
        width: calc(100% - 7rem);
    }
}